<!DOCTYPE html>
<html>
  <head>
    <link href = "/css/styles.css" type = "text/css" rel = "stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class = "dropdown">
      <button id = "user" class = "btn btn-primary dropdown-toggle" type = "button" data-toggle = "dropdown"><i class = "fas fa-user"></i></button>
      <div class = "dropdown-menu border-0">
        <form action = "/logout" method = "post">
          <input id = "user" class = "button btn btn-primary" type = "submit" value = "Logout">
        </form>
      </div>
    </div>
    <a href = "/events/new"><button class = "button btn btn-primary"><i class = "far fa-plus-square"></i></button></a>
    <br>
    <h1>My Events</h1>
    <div class = "container">
      {{#each myEvents as |event|}}
        {{> cards event}}
      {{/each}}
    </div>
    <h1>All Events</h1>
    <div class = "container">
      {{#each allEvents as |event|}}
        {{> cards event}}
      {{/each}}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
