.button {
  display: block;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

h1, p {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#event {
  width: 500px;
  height: auto;
  display: block;
  margin: auto;
}
